<div class="card-row">
    <div *ngFor="let dog of dogs">
        <div class="card sm-4" style="width: 18rem;">
            <img class="card-img-top" src={{dog.img}} alt="placeholder" data-id={{dog.id}} (click)="navigateToDog(dog)">
            <div class="card-body">
                <p class="card-text"> Name: {{ dog.name }} </p>
                <p class="card-text"> Geburtsdatum: {{ dog.birthdate | date : 'dd.MM.YYYY' }} </p>
            </div>
        </div>
    </div>
</div>

<ddr-add-dog-dialog (createdDog)="addDogFromChildComponent($event)"></ddr-add-dog-dialog>