.add-document-button {
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #BDDBE5;
    cursor: pointer;
    border: none;
    font-family: 'Helvetica Neue', sans-serif;
    width: 60px;
    height: 60px;
    background-image: url('../../../../assets/add-document.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
  }

  .progress-spinner::ng-deep circle{
    stroke: #BDDBE5 !important;
  }


  
  .progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }