  .input-container input,
  .input-container button {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
  }

  .input-button {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .already-registered-tag {
    color: steelblue;
  }

  .modal-body {
    padding-bottom: 0px;
  }