.card-max-size {
  max-width: 800px; 
  margin: 20px;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .card-container {
    display: flex;
    justify-content: center; 
    justify-self: center;
  }

  .card-max-size {
    min-width: 800px; 
  }
}

@media (min-width: 1200px) {
  .card-row {
    display: flex;
    flex-wrap: wrap;
  }

  .card-max-size {
    min-width: 600px; 
    max-width: 600px;
  }
}

.card-name {
  color: rgb(0, 0, 0);
  font-family: fantasy;
  background: linear-gradient(to right, #8bc27da9, #ffffff00);
  display: inline-flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-birthday {
  color: black;
  font-family: fantasy;
  background: linear-gradient(to right, #40aaf183, #ffffff00);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-img-overlay {
  padding-left: 10%;
  padding-top: 20%;
}

@media (min-width: 400px) {

  .card-name {
    font-size: 400%;
  }

  .card-birthday {
    font-size: 150%;
  }
}

@media (max-width: 400px) {

  .card-name {
    font-size: 200%;
  }

  .card-birthday {
    font-size: 100%;
  }
}