<div class="card-row">
  <div *ngFor="let dog of dogs">
    <div class="card-container">
      <div class="card bg-dark text-white card-max-size" (click)="navigateToDog(dog)">
        <img src={{dog.img}} class="card-img" data-id={{dog.id}}>
        <div class="card-img-overlay">
          <h1 class="card-name"> {{ dog.name }}</h1>
          <h1 class="card-birthday"> Birthdate: {{ dog.birthdate | date : 'dd.MM.YYYY' }} </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<ddr-add-dog-dialog (createdDog)="addDogFromChildComponent($event)"></ddr-add-dog-dialog>