.card-max-size {
  max-width: 800px; 
  margin: 20px;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .card-container {
    display: flex;
    justify-content: center; 
    justify-self: center;
  }

  .card-max-size {
    min-width: 800px; 
  }
}

@media (min-width: 1200px) {
  .card-row {
    display: flex;
    flex-wrap: wrap;
  }

  .card-max-size {
    min-width: 600px; 
  }
}

.card-name {
  color: black;
  font-size: 400%;
  font-family: fantasy;
  padding-left: 10%;
  padding-top: 20%;
}

.card-birthday {
  color: black;
  font-size: 150%;
  font-family: fantasy;
}