  .input-container input,
  .input-container button {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
  }

  .input-button {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #475d64;
    color: whitesmoke;
    border-radius: 5px;
    padding: 3%;
  }

  .already-registered-tag {
    color: #BDDBE5;
  }

  .modal-body {
    background-color: #212529;
    color: white;
    border-radius: 10px;
  }

  .modal-content {
    padding-bottom: 0px;
    background-color: #212529;
    color: white;
  }

  .close {
    background: none;
    font-size: xx-large;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    margin-bottom: 5%;
    background-color: #212529;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5%;
  }

  .nav-link {
    margin-right: 10px;
    margin-left: 10px;
  }


  .alert {
    position: absolute;
    right: -10px;
    top: -9px;
    width: 70px;
    height: 70px;
  }

  .input {
    position: relative;
  }

  .dropdown-menu.left {
    right: 0;
    background-color: #212529;
    border-color: #5b9aad;
  }

  .dropdown-item {
    color: white;
    background-color: #212529;
  }

  @media (max-width: 992px) {
    .small-device {
      display: block;
    }

    .big-device {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .small-device {
      display: none;
    }

    .big-device {
      display: block;
    }
  }