<div [ngSwitch]="loggedIn">
<a *ngSwitchCase="false" class="nav-link active" aria-current="page" (click)="toggleLoginModal()"> Login </a>
<a *ngSwitchCase="true" class="nav-link active" aria-current="page" (click)="logout()"> Logout </a>
</div>

<div class="modal fade show" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" aria-label="Close" (click)="toggleLoginModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-container">
                    <div class="row" [ngSwitch]="userAlreadyHasAccount">
                        <div class=".col-sm-9" >

                            <div *ngSwitchCase="true">
                                <li>Email:</li>
                                <input type="text" [(ngModel)]="credentials.email" />
                                <li>Password:</li>
                                <input type="password" [(ngModel)]="credentials.password" />
                                <button type="button" class="input-button" data-dismiss="modal"
                                    (click)="loginOrRegister(1)">Login</button>
                                <p  class="already-registered-tag" (click)="userAlreadyHasAccount = !userAlreadyHasAccount">Not registered yet?</p>
                            </div>

                            <div *ngSwitchCase="false">
                                <li>Forename:</li>
                                <input type="text" [(ngModel)]="credentials.forename" />
                                <li>Surename:</li>
                                <input type="text" [(ngModel)]="credentials.surname" />
                                <li>Email:</li>
                                <input type="text" [(ngModel)]="credentials.email" />
                                <li>Password:</li>
                                <input type="password" [(ngModel)]="credentials.password" />
                                <li>OpenAi Api Token:</li>
                                <input type="text" [(ngModel)]="credentials.openai" />
                                <button type="button" class="input-button" data-dismiss="modal"
                                    (click)="loginOrRegister(2)">Register</button>
                                <p  class="already-registered-tag" (click)="userAlreadyHasAccount = !userAlreadyHasAccount">Already registered?</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>