<div [ngSwitch]="loggedIn">

    <a *ngSwitchCase="false" class="nav-link active" aria-current="page" (click)="toggleLoginModal()"> Login </a>

    <div class="big-device" *ngSwitchCase="true">
        <img class="modal-profile" src="../assets/profile.png" width="50" height="50" (click)="toggleDropdown()" />
        <ul [ngClass]="droptownToggled ? 'dropdown-menu show left' : 'dropdown-menu left'">
            <li><a class="dropdown-item" aria-current="page" [routerLink]="['/settings']"> Settings </a></li>
            <li><a class="dropdown-item" aria-current="page" (click)="logout()"> Logout </a></li>
        </ul>
    </div>

    <div class="small-device" *ngSwitchCase="true">
        <a class="nav-link active" aria-current="page" [routerLink]="['/settings']"> Settings </a>
        <a class="nav-link" aria-current="page" (click)="logout()"> Logout </a>
    </div>
</div>

<div class="modal fade show" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <p type="button" class="close" aria-label="Close" (click)="toggleLoginModal()">
                    <span aria-hidden="true">&times;</span>
                </p>
            </div>
            <div class="modal-body">
                <div class="input-container">
                    <div class="row" [ngSwitch]="userAlreadyHasAccount">

                        <div class=".col-sm-9" >
                            <div *ngSwitchCase="true">

                                <div class="input">
                                    <input class="email-input" type="text" [placeholder]="'Email'" [(ngModel)]="credentials.email" #email="ngModel" required="true" pattern="\b[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}\b" />
                                    <img *ngIf="email.invalid && (email.dirty || email.touched)" class="alert" src="../../assets/input-warning.png" /> 
                                </div>

                                <div class="input">
                                    <input class="password-input" type="password" [placeholder]="'Password'" [(ngModel)]="credentials.password" #password="ngModel" required="true" />
                                    <img *ngIf="password.invalid && (password.dirty || password.touched)" class="alert" src="../../assets/input-warning.png" /> 
                                </div>

                                <button type="button" class="input-button" data-dismiss="modal"
                                    (click)="(email.invalid || password.invalid) ? null : loginOrRegister(1)">Login</button>
                                <p  class="already-registered-tag" (click)="userAlreadyHasAccount = !userAlreadyHasAccount">Not registered yet?</p>
                            </div>

                            <div *ngSwitchCase="false">
                                <div id="input-register">

                            <div class="input">
                                <input type="text" [placeholder]="'Forename'" [(ngModel)]="credentials.forename" #forename="ngModel" required="true" />
                                <img *ngIf="forename.invalid && (forename.dirty || forename.touched)" class="alert" src="../../assets/input-warning.png" /> 
                            </div>

                            <div class="input">
                                <input type="text" [placeholder]="'Surename'" [(ngModel)]="credentials.surname" #surename="ngModel" required="true" />
                                <img *ngIf="surename.invalid && (surename.dirty || surename.touched)" class="alert" src="../../assets/input-warning.png" /> 
                            </div>

                            <div class="input">
                                <input type="text" [placeholder]="'Email'" [(ngModel)]="credentials.email" #email="ngModel" required="true" pattern="\b[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}\b"/>
                                <img *ngIf="email.invalid && (email.dirty || email.touched)" class="alert" src="../../assets/input-warning.png" /> 
                            </div>

                            <div class="input">
                                <input type="password" [placeholder]="'Password'" [(ngModel)]="credentials.password" #password="ngModel" required="true" minlength="1"/>
                                <img *ngIf="password.invalid && (password.dirty || password.touched)" class="alert" src="../../assets/input-warning.png" /> 
                            </div>

                            <div class="input">
                                <input type="text" [placeholder]="'OpenAI Api-Key'" [(ngModel)]="credentials.openai" #apikey="ngModel" pattern="^sk-[A-Za-z0-9]+$" />
                                <img *ngIf="apikey.invalid && (apikey.dirty || apikey.touched)" class="alert" src="../../assets/input-warning.png" /> 
                            </div>
                        
                            </div>
                                <button type="button" class="input-button" data-dismiss="modal"
                                    (click)="(forename.invalid || surename.invalid || email.invalid || password.invalid || apikey.invalid) ? null : loginOrRegister(2)">Register</button>
                                <p  class="already-registered-tag" (click)="userAlreadyHasAccount = !userAlreadyHasAccount">Already registered?</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>